.skillIconContainer {
	border: none;
	background-color: inherit;
	margin-block: 2.5%;
}

.skillIconContainer svg {
	transition: transform 0.2s ease-in-out;
}

.skillIconContainer:hover svg {
	transform: translateY(-2px);
	color: red;
}
