nav ul {
	padding-left: 0;
}

nav ul > div {
	list-style: none;
	margin: 10px;
}

.navLinkContainer {
	border-radius: 2.5px;
	margin-inline: 5%;
	min-height: 30px;
	padding: 1.5px;
	width: auto;
}

.navLinkContainer li a {
	border-radius: 1.5px;
	color: inherit;
	display: inline-block;
	text-decoration: none;
	height: 100%;
	padding: 7.5px;
	width: 100%;
}

.navLinkContainer:hover {
	background: linear-gradient(
		90deg,
		var(--primary-gradient-purple) 0%,
		var(--primary-gradient-red) 50%,
		var(--primary-gradient-yellow) 100%
	);
}

.navLinkContainer:hover li {
	background: var(--primary-color);
}
