#themeButton {
	border: none;
}

.icon {
	color: var(--primary-gradient-highlight);
	font-size: 1.3em;
	position: absolute;
	transition: transform 0.5s ease-in-out;
}

.active {
	transform: translateX(0px);
}

.inactive {
	transform: translateX(100px);
}

.slideIn {
	transform: translateX(0px);
}

.slideOut {
	transform: translateX(-100px);
}
