#vaultContainer {
	height: 50%;
	margin-block: 25%;
	/* max-height: 60%; */
	width: 100%;
}

.lockContainer {
	background-color: var(--alternate-color);
	border: 2px solid transparent;
	border-radius: 50%;
	color: var(--primary-color);
	height: 55px;
	margin-bottom: 20px;
	transition: transform 0.35s;
	width: 55px;
}

.lockContainer svg {
	height: 25px;
	width: 25px;
}

.lockContainer {
}
