#vscodeApp_FiltersContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

#vscodeApp_FiltersContainer > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 300;
}

#vscodeApp_FiltersContainer > div > svg {
    margin-left: 5px;
}

#vscodeApp_FiltersContainer h3 {
    margin: 1vh auto;
}

#vscodeApp_Filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.vscodeApp_Filter {
    align-items: center;
    background-color: var(--vscodeApp_FilterBg);
    border: 1px solid var(--vscodeApp_ShortcutBorder);
    border-radius: 3.5px;
    color: inherit;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px 15px;
    /* width: 16%; */
}

.vscodeApp_Filter > span {
    flex-grow: 1;
    padding: 5px 10px;
}


.vscodeApp_Filter svg {
    margin-left: 5px;
    font-size: larger;
}

.vscodeApp_Filter:hover {
    background-color: var(--vscodeApp_KeyBg);
}

.vscodeApp_Filter.activeFilter {
    background-color: var(--vscodeApp_KeyBg);
}

.vscodeApp_Filter.system {
    padding-inline: 2vw;
}

.vscodeApp_Filter.system svg {
    margin-right: 1vw;
}

.vscodeApp_Filter.activeFilter.system {
    /* color: var(--primary-gradient-highlight); */
    /* border: 1px solid var(--primary-gradient-highlight); */
}

